.hh1{
    
    font-size: 64px;
    color: #6D91EE;
}

.imgg{
    border-radius: 50%;
}
.divv{
    width:577px ;
    height:233px ;
    border-radius:25px ;
    border-color:#6D91EE ;
    border-style: solid;
    
}
.pp{
    
    color: #22366A;
}
.hh3{
    color: #6D91EE;
    
}

