.layerback{
    
    background-image: url(../../img/aboutback.jpg);
    background-size: cover;
    background-position:center center;
}
.hh2{
    color: #fff;
    font-size: 64px;
    
}

.hh1{
    color: #fff;
    font-size: 64px;
    text-align: end;
}

.border{
    width:200px ;
    height:200px ;
    background-color:#6D91EE ;
   border-top-left-radius: 60%;
}
.bbtn{
    background: #EEC04B!important;
    color: #515151 !important;
    width: 250px;
    height: 84px;
    margin-bottom: 30px;
}