.backroundcolor{
    background-color: #5180F6
}



.btnmod{
    color: #000000 !important;
    width: 111px ;
    height: 40px;
}


.icon{
    width: 24px;
    height: 24px;
    color: #5180F6;
}

.hh1{
    
    font-size: 64px;
    color: #6D91EE;
}